.header  {
  font-family: monospace;
  background: papayawhip;

  /* Space out the left links, logo, and right links */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links ul,
.right-links ul {
  display: flex;
  justify-content: space-around;
  width: 250px;

  /* Remove default left padding */
  padding: 0;
}